.kakao-box{
    width: 200px;
    height: 50px;
}

.kakao-btn{
    background-image: url("../assets/kakao_login_medium_narrow.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px auto;
    /* padding: -10px; */
    color: transparent;
    width: 100%;
    height: 100%;
}