.inline-block{
    display: flex;
    flex-direction: column;
}

.padding-left360{
    padding-left: 360px;
    padding-top: 50px;
}

.popular-collect-title-flex{
    display: flex;
    align-items: center;
}

.btn-token{
    background-color: pink;
    border: none;
    border-radius: 40px;
    width: 100px;
    height: 50px;
}

.btn-token-selected{
    background-color: palevioletred;
    border: none;
    border-radius: 40px;
    width: 100px;
    height: 50px;
}

.btn-token:hover{
    opacity: 0.75;
    cursor: pointer;
}

.select-collect{
    background-color: pink;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    cursor: pointer;
}

.add-more-collect {
    right: 100px;
    position: absolute;
}

a {
    text-decoration-line: none;
    color : black;
}

.popular-collect-container{
    width: 1440px;
    height: 400px;

    display: grid;
    /* 세로 갯수 */
    grid-template-columns: repeat(3, 474px);
    /* 가로 갯수 */
    grid-template-rows: repeat(4, 90px);
    /* 간격 패딩 */
    row-gap: 10px;
    column-gap: 10px;
}

.pop-rank{
    padding-top: 30px;
    margin-left: 10px;
}

.block{
    display: block;
}

.popular-collect-container > a > img{
    border-radius: 3rem;
    margin: 5px;
    /* padding: 10px; */
}

.popular-collect-container > a {
    background-color: pink;
    display: flex;
    border-radius: 0.75rem;
}

.top-upvote-title-flex{
    display: flex;
    align-items: center;
}

.top-img-flex{
    display: flex;
}

.top-nft-wrap{
    margin-right: 16px;
     cursor: pointer;
}

.top-nft-wrap > img{
    border-radius: 0.75rem;
     cursor: pointer;
}

.author{
    text-align: center;
    cursor: pointer;
}

.like-create-at-flex-gap-1{
    text-align: center; 
}

.like-color-red{
    color: red;
}

.flex{
    display: flex;
}

.flex > h3{
    margin-right: 200px;
}

.flex > span{
    padding-top: 21px;
}

.margin200{
    margin-right: 200px;
}

.top-nft-wrap > img {
    border: pink 2px solid;
}