.padding-left360{
    padding-left: 360px;
    padding-top: 50px;
}

.state-borad {
    width: 300px;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(2,200px);
    grid-template-rows: repeat(2,25px);
    row-gap: 10px;
    column-gap: 20px;
    
}

.flex-list{
    display: flex;
    justify-content: space-between;
    background-color: pink;
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
    border: palevioletred solid 1px;
}

.account-button{
    width: 93px;
    height: 22.33px;
    background-color: pink;
    border: palevioletred solid 1px;
    border-radius: 0.75rem;
    /* 숨긴 부분 처리 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    margin-right: 3px;
}

.flex-list-item{
    display: flex;
}

.flex-list-item > div{
    background-color: pink;
    margin-right: 10px;
    padding: 10px;
    border-radius: 15px;
    border: palevioletred solid 1px;
}

.button-style1{
    background-color: pink;
    border: palevioletred solid 1px;
    border-radius: 0.75rem;
    margin-right: 3px;
    cursor: pointer;
}

.item-list{
    padding-top: 50px;
    display: flex;
    margin-right: 50px;
    flex-direction: row;
}

.sale-box{
    display: flex;
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.sale-box-range{
    width: 500px;
    height: 200px;
    background-color: pink;
    padding: 10px 10px 10px 10px;
    border-radius: 0.75rem;
}

.button-style1-bigger{
    background-color: pink;
    border: palevioletred solid 1px;
    border-radius: 0.75rem;
    margin-right: 3px;
    width: 100px;
    height: 40px;
    cursor: pointer;
}


.img-setting{
    border-radius: 0.75rem;
    border: 2px solid pink;
}

.img-setting > img{
    border-radius: 0.75rem;
}