.padding-left360{
    padding-left: 360px;
    padding-top: 50px;
}

.swap-box{
    width: 380px;
    height: 800px;
    background-color: beige;
    border-radius: 25px;
}

.swap-setting{
    padding: 30px;
}

.input-token{
    text-align: right;
    background-color: green;
    color: white;
    border-radius: 25px;
    width: 345px;
    height: 67px;
    margin: 13px;
    border: none;
}

.text-align-center{
    text-align: center;
    font-size: 40px;
}

.token-name{
    margin-left: 13px;
}

.swap-token-button{
    margin-top: 40px;
    background-color: green;
    color:white;
    border: none;
    border-radius: 25px;
    align-items:center;
    font-size: 16px;
    font-weight: 600;
    width: 345px;
    margin-left: 13px;
    height: 48px;
}

.slippage-tolerance-box{
    display: flex;
}

.green-font{
    color: green;
}

.margin-right{
    margin-left: 13px;
    margin-right: 175px;
}

.hr-nomal{
    border: black solid 0.5px;
}